.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    border-radius: 100%;
    background-color: #77acfd;
    margin: 3px;
}

.btnLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: transparent;
}

.back {
    background-size: cover;
    background-position: absolute;
    width: 100%;
    position: fixed;
}

.autoLog {
    align-items: center;
    position: relative;
    margin-top: 20px;
}

/* request-shift.component.scss */

.btn-rectangular {
    border-radius: 0;  /* Remove the default button border-radius */
    /* Add any additional styling for rectangular buttons */
  }
  

  .btn-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
  }
  
  .btn {
    padding: 0;
    border: none;
    background: none;
  }
  
  .btn-rectangular {
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .btn-image {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  