
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 4px solid #4170d6; /* Color del borde del loader */
  border-top-color: transparent;
  animation: rotate 1s linear infinite;
}

.spinner {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.658);
  align-items: center;
  justify-content: center;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

@keyframes rotate {
  0% {
      transform: rotate(0);
  }
  100% {
      transform: rotate(360deg);
  }
}
 